.mainheader{

    &-titlebox{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 60vh;
        color: white;
        text-transform: capitalize;
        position: relative;//obligado por oscurecer fondo

        &__main{
            display: block;
            font-size: 5rem;
            font-weight: 700;
            padding: 2rem 4rem 0 4rem;
            transition: transform 0.5s;
        }

        &__secondary{
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0.4rem;
            padding: 0 4rem 2rem 4rem;
            transition: transform 0.5s;
        }

        &__main:hover, &__secondary:hover{
            transform: scale(1.1);
        }
    }
}