.mainheader{

    &-logo{
        padding: 2rem;
        width: 5rem;
        height: 5rem;
        position: relative;//obligado por oscurecer fondo
    }

    &-navegation{
        width: 60rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5rem;
        position: relative;//obligado por oscurecer fondo

        &_menu {
            list-style: none;
            font-size: 2rem;
            font-weight: bold;
        }
        &_menu a {
            color: var(--color-white);
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size 1s
        }
        &_menu a:hover{
            background-size: 100% 2px;
            color: var(--color-pink);
        }
    }
}
