*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

body{
    font: oblique bold 120% cursive;
    font-weight: 400;
    line-height: 1.7;
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

}

.mainheader{
    height: 100vh;
    background-image: url('./../img/portada.jpg');
    background-size: cover;
    background-position: top;

    &:before{
        content: "";
        position: absolute;//nos obliga a posicionar todo
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
}