:root{
    --color-white : #fff;

    --color-pink: #b801b8;
    --color-pinkA: #b801b880;

    --color-pink: rgb(85, 2, 85);

    --color-black: #000000;
    --color-blackA1: #00000066;
    --color-blackA2: #0000004d;
}
